/*
Masterbrand charcoal #424242;
C=0 M=0 Y=0 K=90
R=66 G=66 B=66

Masterbrand red #e64626;
C=0 M=0 Y=0 K=90
R=66 G=66 B=66

Masterbrand white #ffffff;
C=0 M=0 Y=0 K=0
R=255 G=255 B=255

Masterbrand black #000000;
C=0 M=0 Y=0 K=100
R=10 G=10 B=10

Accent yellow #FFB800
C=0 M=25 Y=98 K=0
R=255 G=184 B=0

Accent blue #0148A4
C=100 M=61 Y=0 K=0
R=1 G=72 B=164

Accent grey - supportive #F1F1F1
C=0 M=0 Y=0 K=10
R=241 G=241 B=241
*/

blockquote {
    border-left:none;
    font-size: 1em;
    display: block;
    margin-top: .25em;
    margin-left: 20px;
}

h1 {
    /* Masterbrand red */
    font-size: 26px;
    color:	#e64626;
        font-weight: bold;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h2, h3, h4, h5, h6 {
      font-weight: bold;
    color: black;
}

/* link colour */
a {
    color: #0148A4;
}

/* general text colour */
body {
     /* Masterbrand charcoal */
    color: #424242;

}

/* From https://work.smarchal.com/twbscolor/3.3.7/css/ffffffffffff424242e646260 */
/* Might need updating when the bootstrap version changes */

.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #424242;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e64626;
}
.navbar-default .navbar-text {
  color: #424242;
}
.navbar-default .navbar-nav > li > a {
  color: #424242;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e64626;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e64626;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #e64626;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #424242;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #424242;
}
.navbar-default .navbar-link {
  color: #424242;
}
.navbar-default .navbar-link:hover {
  color: #e64626;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #424242;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e64626;
    background-color: #e64626;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e64626;
    /* background-color: #ffffff; */
    background-color: #e64626;
  }
}

/* End https://work.smarchal.com/twbscolor/3.3.7/css/ffffffffffff424242e646260 */

/* Floating table of contents highlight colour */
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    background-color: #e64626;
}

/* Hover and select dropdown menu in the navbar */
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #e64626;
}
.dropdown-menu > li > a:hover {
    background-color: #e64626;
    background-image: none;
}


/* Clipboard --------------------------*/

.hasCopyButton {
  position: relative;
}

.btn-copy-ex {
  position: absolute;
  right: 0;
  /* use top: 0 without code folding */
  top: 0;
  /* use bottom: 0 with code folding */
  /* bottom: 0; */
  visibility: hidden;
}

.hasCopyButton:hover button.btn-copy-ex {
  visibility: visible;
}
